<!DOCTYPE html>
<html>
<head>
    <title>Интернет-магазин</title>
</head>
<body>
    <header>
        <h1></h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/clothes">Одежда</a></li>
                <li><a href="/shoes">Обувь</a></li>
                <li><a href="/jacket">Куртка</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Информация о компании</p>
    </footer>
</body>
</html>
